{% extends 'layouts/main.html' %}
{% block title %}GOOSE{% endblock %}
{% block content %}

<div class="row-center">
<img class="img-responsive center-block" id="background_image" src="../../static/img/GooseIsland_Caller_Call.png" alt="GOOD IDEAS" onclick="document.getElementById('goose').play();"/>
<img class="img-responsive center-block" src="../../static/img/GooseIsland_Caller_BlowIntoMic.png" alt="BLOW!" />

<audio id="goose" src="../../static/audio/goose_short.mp3" preload="auto" hidden="true"></audio>
<div>

{% endblock %}
